<f:layout name="Default" />

<f:section name="Title">A list of timetables</f:section>

<f:section name="Content">
	<f:if condition="{timetables}">
		<f:then>
			<ul>
				<f:for each="{timetables}" as="timetable">
					<li>
						<f:link.action action="show" arguments="{timetable: timetable}">{timetable.name}</f:link.action>
						<f:link.action action="edit" arguments="{timetable: timetable}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{timetable: timetable}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No timetables created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new timetable</f:link.action></p>
</f:section>