<f:layout name="Default" />

<f:section name="Title">A list of rooms</f:section>

<f:section name="Content">
	<f:if condition="{rooms}">
		<f:then>
			<ul>
				<f:for each="{rooms}" as="room">
					<li>
						<f:link.action action="show" arguments="{room: room}">{room.name}</f:link.action>
						<f:link.action action="edit" arguments="{room: room}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{room: room}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No rooms created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new room</f:link.action></p>
</f:section>