<f:layout name="Default" />

<f:section name="Title">A list of school classes</f:section>

<f:section name="Content">
	<f:if condition="{schoolClasses}">
		<f:then>
			<ul>
				<f:for each="{schoolClasses}" as="schoolClass">
					<li>
						<f:link.action action="show" arguments="{schoolClass: schoolClass}">{schoolClass.name}</f:link.action>
						<f:link.action action="edit" arguments="{schoolClass: schoolClass}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{schoolClass: schoolClass}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No school classes created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new school class</f:link.action></p>
</f:section>